#portfolio {
  background-size: cover;
  text-align: center;
  z-index: 97;
}
#portfolio .title {
  position: relative;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
#portfolio .title::after {
  clear: both;
  content: "";
  display: table;
}
#portfolio .title h2 {
  background-color: #2FC5CC;
  display: inline-block;
  padding: 0 0.9375rem;
}
#portfolio .thumbnails {
  position: relative;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
#portfolio .thumbnails::after {
  clear: both;
  content: "";
  display: table;
}
#portfolio .thumbnails ul li {
  position: relative;
  display: inline-block;
}
#portfolio .thumbnails ul li a {
  position: relative;
  display: block;
  height: 15.625rem;
  width: 15.625rem;
  padding: 0;
  overflow: hidden;
}
#portfolio .thumbnails ul li a img {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
#portfolio .thumbnails ul li a span {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0e393b;
  color: #F4F7F7;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  padding: 25.6px 0.625rem;
}
#portfolio .thumbnails ul li a span h2 {
  margin-top: 0;
  color: #F06868;
}
#portfolio .thumbnails ul li a span p {
  color: #F4F7F7;
  margin-bottom: 25.6px;
}
#portfolio .thumbnails ul li a span i {
  font-size: 2rem;
}
#portfolio .thumbnails ul li a:hover {
  border: none;
}
#portfolio .thumbnails ul li a:hover span {
  opacity: .8;
}

