@-ms-viewport {
    width: device-width;
}

/***************************
        NAV
***************************/



/***************************
        HOME
***************************/


/***************************
        STACK ICONS
***************************/



/***************************
        ABOUT
***************************/



/***************************
        PORTFOLIO
***************************/

@media (min-width: 992px) and (max-width: 1199px) {
   #pawze p {
        padding-bottom: 0px;
   }  

   #property p {
        padding-bottom: 30px;
   }   

   #ninja p {
        padding-bottom: 47px;
   }

   #memory p {
        padding-bottom: 71px;
   }
}