@-ms-viewport {
    width: device-width;
}

/***************************
        NAV
***************************/

@media (max-width: 767px) {
    .navbar-brand, ul.navbar-nav li a {
        background-color: #000;
    }

    #navContact {
        margin-right: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #000;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    #logo {
        margin-right: 10px;
    }

    .navbar-brand {
        padding-left: 0px;
    }
}



/***************************
        HOME
***************************/

@media (max-width: 767px) {
    #slide-1 .bcg {
        background-image: url('../images/rsz_12014-09-09_184639.jpg');
    }

    .landing-title h1 {
        margin-top: 11vh;
    }

    #downArrow {
        display: none;
    }
}


/***************************
        STACK ICONS
***************************/

@media (max-width: 1199px) {

    #octocat {
        display: none !important;
    }

    #stackRow {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    #jquery {
        display: none !important;
    }
}

@media (max-width: 498px) {
    #favtext {
        font-size: 1.5em;
    }
}



/***************************
        ABOUT
***************************/

@media (max-width: 767px) {
    #slide-2 .bcg {
        background-image: url('../images/rsz_11aboutimage.png');
    }
}

@media (max-width: 1730px) {
    #aboutText {
        margin-left: 40px;        
    }
}
