* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}


/***************************
        NAV
***************************/

#logo {
    height: 75px;
    width: 75px;
    margin-right: 23px;
    margin-left: 25px;
    margin-top: 2px;
}

#name {
    font-size: x-large;
    color: #fff;
    float: none;
    vertical-align: middle;
    padding-left: 0px;
}

nav.navbar-default {
    background-color: #15100D;
    height: 80px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
}

    #myNavbar ul li a {
        line-height: 50px;
        background-color: #15100D;
    }

.navbar-default .navbar-nav > li > a {
    color: #fff;
}


.navbar {
    margin-bottom: 0;
}

.navbar-brand:hover,
ul.navbar-nav li:hover a:hover {
    color: #000 !important;
}

#name:hover {
    color: #000;
}

.navbar-toggle {
        margin-top: 22px;
    }

    .navbar .nav li {
    z-index: 1001;
}

/***************************
        HOME
***************************/

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 {
    width: 100%;
    position: relative;
}

    #slide-1 .bcg {
        background-image: url('../images/rsz_12014-09-09_184639.jpg');
    }


.landing-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 126px;
    
}

    .landing-title h1 {
        color: #fff;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 10em;
        text-shadow: -10px -6px 25px #000;
        padding-bottom: 20px;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 5em;
        text-shadow: -4px -3px 6px #000;
        padding: 3px;
    }

.social-buttons {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 1.5em;
}


#downArrow {
    display: none;
}



/***************************
        STACK ICONS
***************************/

.stack-icons {
    background-color: #000;
}

    .stack-icons h3 {
        color: #fff;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 6px;
        font-size: 2.4em;
    }

#stackRow .portfolio-item {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.row-centered {
    text-align: center;
    margin-bottom: 13px;
}

#octocat {
    margin-bottom: 7px;
}

#jquery {
        display: none !important;
    }



/***************************
         ABOUT
***************************/

#slide-2 .bcg {
    height: 640px;
    background-image: none;
    background-position: -28vh;
    position: relative;
        -webkit-filter: grayscale(1); /* Old WebKit */
        filter: grayscale(1);
}

#slide-2 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #000;
    text-shadow: 2px 2px 2px #bebcbc;
    font-size: 4em;
}

#slide-2 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 25px;
    color: #000;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 3px 3px #bebcbc, 1px 3px 3px #F5F6FA;
    font-weight: bold;
       text-align: justify;
}

#aboutText {
    max-width: 900px;
    position: absolute;
    height: 100%;
    margin-left: auto;
    background-color: rgba(255, 255, 255, .4);
}



/***************************
        PORTFOLIO
***************************/

#slide-3 .bcg {
    height: 100%;
    background-image: url('../images/logoBackground.png');
}

#slide-3 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px 4px #000;
}

#slide-3 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #fff;
    font-size: 2.9em;
    text-align: center;
    text-shadow: 2px 2px #222;
    text-align: justify;
}

#slide-3 h4 {
    color: #fff;
}

#pawze p {
    padding-bottom: 25px;
}

#tourpackages-carousel .thumbnail {
    background-color: #000;
}

#tourpackages-carousel {
    margin-top: 25px;
    margin-bottom: 25px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

    .thumbnail img {
        width: 100%;
    }


/***************************
       SKILLS
***************************/

#slide-4 .bcg {
    height: 800px;
    background-image: url('../images/rsz_san-diego-city-in-california.jpg');
}

#slide-4 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px #000;
}

#skills {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}



/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

    i:hover {
        color: #000 !important;
    }

.foot {
    width: 100%;
    background-color: black;
    color: white;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-size: 1.7em;
}

    .icons a {
        text-decoration: none !important;
    }

    #foottext {
        font-size: 2em;
    }
