
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/***************************
        HOME
***************************/


body {
    font-family: 'Abril+Fatface';
    color: #222;
}

#name {
    font-size: xx-large;
    color: #fff;
}

nav.navbar-default {
    background-color: #15100D;
    height: 60px;
    margin-bottom: -4px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
}


.navbar-brand:hover,
ul.navbar-nav li:hover a:hover {
    color: #000 !important;
    background-color: #f7f7f7 !important;
}

.landing-page {
    background-image: url('../images/2014-09-09 18.46.39.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.landing-title {
    text-align: center;
    padding-top: 50px;
}

    .landing-title h1 {
        color: #f1f1f1;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 6em;
        text-shadow: -10px -6px #000;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 2em;
        text-shadow: -4px -3px #000;
        padding: 3px;
    }

#downArrow {
    padding-top: 21%;
    margin-left: 48%;
}

@media (max-width: 770px) {
    .landing-title h1 {
        margin-top: 16%;
    }
}

/***************************
        STACK ICONS
***************************/
.stack-icons {
    height: 300px;
    background-color: #000;
}


/***************************
    
***************************/


/***************************
        PORTFOLIO
***************************/



/***************************
     
***************************/



/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

    i:hover {
        color: #000 !important;
    }

.foot {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 20px;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

    .icons a {
        text-decoration: none !important;
    }
