/***************************
        HOME
***************************/


body {
    font-family: 'Abril+Fatface';
    color: #222;
}

#name {
    font-size: xx-large;
    color: #fff;
}

nav.navbar-default {
    background-color: #15100D;
    height: 60px;
    margin-bottom: -4px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
}


.navbar-brand:hover,
ul.navbar-nav li:hover {
    color: #000 !important;
    background-color: #f7f7f7 !important;
}

.landing-page {
    background-image: url('../images/2014-09-09 18.46.39.jpg');
    background-position: 0px -137px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}


.landing-title {
    text-align: center;
    padding-top: 50px;
}

    .landing-title h1 {
        color: #f1f1f1;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 6em;
        text-shadow: -10px -6px #000;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 2em;
        text-shadow: -4px -3px #000;
        padding: 7px;
    }

/***************************
        STACK ICONS
***************************/
#stackIcons {
    height: 260px;
    background-color: #000;
}

    #stackIcons img {
        margin-top: -17em;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }



/***************************
        ABOUT
***************************/


.about {
    background-image: url('../images/G0434530.JPG');
    background-repeat: no-repeat;
    height: 700px;
    width: auto;

}

.about-content {
    padding-top: 50px;
}

.about h2 {
    color: #efefef;
    text-shadow: 1px 1px #333;
}

.about p {
    color: #ddd;
    font-size: 1.5em;
}

.about-img {
    width: 350px;
    margin-left: 50px;
    box-shadow: 1px -1px #FDFFFE;
}

/***************************
        PORTFOLIO
***************************/

.portfolio {
    background: url("https://images.unsplash.com/photo-1441260038675-7329ab4cc264?fit=crop&fm=jpg&h=650&ixlib=rb-0.3.5&q=80&w=1375")fixed;
    height: 700px;
    margin: 0 auto;
}

.portfolio-content {
    padding-top: 50px;
}

.post > img {
    width: 50%;
}

.portfolio h2 {
    color: #f1f1f1;
    text-shadow: 1px 1px #333;
}

.portfolio h3 {
    color: #ddd;
    text-shadow: 1px 1px #333;
}

.portfolio p {
    color: #ddd;
}

/***************************
        CONTACT
***************************/

.contact {
    background: url("https://images.unsplash.com/photo-1429032021766-c6a53949594f?fit=crop&fm=jpg&h=650&ixlib=rb-0.3.5&q=80&w=1375")fixed;
    height: 700px;
}

.contact-content {
    padding-top: 50px;
}

.contact h2 {
    color: #f1f1f1;
    text-shadow: 1px 1px #333;
}

.contact p {
    color: #ddd;
    text-shadow: 1px 1px #333;
    font-size: 2em;
}

    .contact p a {
        color: #5aee45;
    }

.contact .social-buttons > li {
    display: block;
    padding: 5px;
}

/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

.foot {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 20px;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

    .icons a {
        text-decoration: none !important;
    }
