/**************************
        HOME
**************************/

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#navwrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex-box;
    -webkit-transform: transitionX(0);
    transform: transitionX(0);
    transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
}

.open {
    -webkit-transform: translateX(-20rem);
    transform: translateX(-20rem);
    transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
}

header {
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 1rem 0;
}

.nav-toggle {
    float: right;
    margin-top: 0.5rem;
    z-index: 1040;
    color: #fff;
}

.container {
    width: 1000px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: middle;
}

.jumbotron {
  background: transparent !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 250px;
}

.jumbotron h1{
  font-size:80px !important;
}

.home {
    background-image: url('../images/IMG_7884.jpg');
    background-size: cover !important;
    height: 1000px;
}


/**************************
        NAVIGATION
**************************/


.off-nav {
    height: 100%;
    position: fixed;
    background-color: #262626;
    z-index: 100;
    width: 20rem;
    top: 0;
    right: 0;
    z-index: 1000;
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem);
    transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
    overflow-y: scroll;
}

    .off-nav.is-open {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
        transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
    }

    .off-nav a {
        padding: 1rem;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.72);
        color: #999999;
    }

        .off-nav a:hover {
            background-color: rgba(0, 0, 0, 0.95);
            color: #fff;
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }

#hamburger {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 80px auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

    #hamburger span {
        background-color: #000;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 9px;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

        #hamburger span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }

        #hamburger span:nth-child(2) {
            top: 9px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }

        #hamburger span:nth-child(3) {
            top: 18px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }

    #hamburger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 0px;
    }

    #hamburger.open span:nth-child(2) {
        top: 24px;
        position: relative;
        opacity: 0;
    }

    #hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 19px;
        left: 0px;
    }


/**************************
        FOOTER
**************************/
    i {
  color: white;
  margin-right: 0.16em;
}
.foot {
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 20px;
  float: left;
}

footer {
  background-color: black;
  color: white;
}
.icons {
  display: inline-block;
}

.icons a {
  text-decoration: none !important;
}