
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Abril+Fatface';
    color: #222;
}
/***************************
        NAV
***************************/

#name {
    font-size: xx-large;
    color: #fff;
    margin-top: 12px;
}

#logo {
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 2px;
}

nav.navbar-default {
    background-color: #15100D;
    height: 80px;
    margin-bottom: -4px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
    margin-top: 12px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand:hover,
ul.navbar-nav li:hover a:hover {
    color: #000 !important;
    background-color: #f7f7f7 !important;
}

/***************************
        HOME
***************************/
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#slide-1 .bcg{
        background-image: url('../images/2014-09-09 18.46.39.jpg');
}


.landing-title {
    text-align: center;
    padding-top: 50px;
}

    .landing-title h1 {
        color: #fff;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 6em;
        text-shadow: -10px -6px #000;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 2em;
        text-shadow: -4px -3px #000;
        padding: 3px;
    }

#downArrow {
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43vh;
}

@media (max-width: 770px) {
    .landing-title h1 {
        margin-top: 16%;
    }
}

/***************************
        STACK ICONS
***************************/
.stack-icons {
    height: 300px;
    background-color: #000;
}

    .stack-icons h3 {
        color: #fff;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -60px;
        padding-bottom: 20px;
    }



/***************************
         ABOUT
***************************/
#slide-2 .bcg {
    height: 700px;
    background-image: url('../images/aboutImage.png');
}

.hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color:#000;
    text-shadow: 2px 2px #bebcbc; 

}

.hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #000;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px #bebcbc;
}


/***************************
        PORTFOLIO
***************************/
#slide-3 .bcg {
    height: 700px;
    background-image: url('../images/WinterImage.png');
}

.hsContent h2 {
    text-shadow: 1px 1px #000;
}

#projects {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.hsContent .thumbnail {
    height: 175px;
    width: 175px;
    display: inline-block;
    border-radius: 15%;
    background-color: #000;
}

.hsContent #left {
    margin-right: 250px;
}

.hsContent #center {

}

.hsContent #right {
    margin-left: 250px;
}



/***************************
       CONTACT
***************************/
#slide-4 .bcg {
    height: 600px;
    background-image: url('../images/SheepCastle.jpg');
}

#slide-4 .hsContent {
    margin-left: 450px;
    position: fixed;
    top: 250px;
}

#slide-4 h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
}


/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

    i:hover {
        color: #000 !important;
    }

.foot {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 20px;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

    .icons a {
        text-decoration: none !important;
    }
