
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Abril+Fatface';
    color: #222;
}
/***************************
        NAV
***************************/

#name {
    font-size: xx-large;
    color: #fff;
    margin-top: 12px;
}

#logo {
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 2px;
}

nav.navbar-default {
    background-color: #15100D;
    height: 80px;
    margin-bottom: -4px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
    margin-top: 12px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand:hover,
ul.navbar-nav li:hover a:hover {
    color: #000 !important;
    background-color: #f7f7f7 !important;
}

/***************************
        HOME
***************************/
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 .bcg {
    background-image: url('../images/2014-09-09 18.46.39.jpg');
}


.landing-title {
    text-align: center;
    padding-top: 50px;
}

    .landing-title h1 {
        color: #fff;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 6em;
        text-shadow: -10px -6px #000;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 2em;
        text-shadow: -4px -3px #000;
        padding: 3px;
    }

#downArrow {
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
}

@media (max-width: 770px) {
    .landing-title h1 {
        margin-top: 16%;
    }
}

/***************************
        STACK ICONS
***************************/
.stack-icons {
    height: 300px;
    background-color: #000;
}

    .stack-icons h3 {
        color: #fff;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -60px;
        padding-bottom: 20px;
    }



/***************************
         ABOUT
***************************/
#slide-2 .bcg {
    height: 700px;
    background-image: url('../images/aboutImage.png');
}

#slide-2 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #000;
    text-shadow: 2px 2px #bebcbc;
}

#slide-2 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #000;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px #bebcbc;
}


/***************************
        PORTFOLIO
***************************/
#slide-3 .bcg {
    height: 925px;
    background-image: url('../images/logoBackground.png');
}

#slide-3 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px #000;
}

#slide-3 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #fff;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px #222;
}

#slide-3 h4 {
    color: #fff;
}

#tourpackages-carousel .thumbnail {
    background-color: #000;
}

#tourpackages-carousel {
    margin-top: 25px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

    .thumbnail img {
        width: 100%;
    }


/***************************
       ARTWORK
***************************/
#slide-4 .bcg {
    height: 800px;
    background-image: url('../images/rsz_san-diego-city-in-california.jpg');
}

#slide-4 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px #000;
}

.row {
    padding-top: 40px;
}

.portfolio-item {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}


/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

    i:hover {
        color: #000 !important;
    }

.foot {
    width: 100%;
    background-color: black;
    color: white;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
}

    .icons a {
        text-decoration: none !important;
    }
