html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    min-width: 375px;
    font-size: 62.5%;
}

/***************************
        NAV
***************************/

#name {
    font-size: xx-large;
    color: #fff;
    margin-top: 12px;
    float: none;
    vertical-align: middle;
}

#logo {
    height: 75px;
    width: 75px;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 2px;
}

nav.navbar-default {
    background-color: #c;
    height: 80px;
    margin-bottom: -4px;
    border: 0 solid;
}

.navbar-brand {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    font-size: 1.6em;
}

#myNavbar {
    font-size: large;
}

    #myNavbar ul li a {
        line-height: 50px;
    }

.navbar-default .navbar-nav > li > a {
    color: #fff;
}



#navContact {
    margin-right: 50px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand:hover,
ul.navbar-nav li:hover a:hover {
    color: #000 !important;
    background-color: #f7f7f7;
}

#name:hover {
    color: #000;
    background-color: #f7f7f7;
}







/***************************
        HOME
***************************/

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 {
    width: 100%;
    position: relative;
}

    #slide-1 .bcg {
        background-image: url('../images/2014-09-09 18.46.39.jpg');
    }


.landing-title {
    text-align: center;
    padding-top: 50px;
    height: 90vh;
}

    .landing-title h1 {
        color: #fff;
        font-family: 'sofia';
        font-weight: bolder;
        font-size: 6em;
        text-shadow: -10px -6px #000;
    }

    .landing-title h4 {
        font-family: 'Abril+Fatface';
        font-weight: 100;
        color: #fff;
        font-size: 2em;
        text-shadow: -4px -3px #000;
        padding: 3px;
    }

#downArrow {
    height: 90px;
    width: 90px;
    display: block;
    margin-left: 3%;
    position: absolute;
    bottom: 9px;
}



/***************************
        STACK ICONS
***************************/

.stack-icons {
    background-color: #000;
}

    .stack-icons h3 {
        color: #fff;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 20px;
    }

#stackRow .portfolio-item {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.row-centered {
    text-align: center;
    margin-bottom: 20px;
}

#octocat {
    margin-bottom: 15px;
}



/***************************
         ABOUT
***************************/

#slide-2 .bcg {
    height: 80vh;
    background-image: url('../images/aboutImage.png');
     -webkit-filter: grayscale(0); /* Old WebKit */
        filter: grayscale(0);
}

#slide-2 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #000;
    text-shadow: 2px 2px 2px #bebcbc;
}

#slide-2 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #000;
    font-size: x-large;
    text-align: center;
    text-shadow: -1px 3px 3px #bebcbc, 1px 3px 3px #F5F6FA;
    font-weight: bold;
}

#aboutText {
    max-width: 900px;
    background-color: transparent;
    margin-left: 27%;
}


/***************************
        PORTFOLIO
***************************/

#slide-3 .bcg {
    height: 100%;
    background-image: url('../images/logoBackground.png');
}

#slide-3 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px #000;
}

#slide-3 .hsContent p {
    font-family: 'Abril+Fatface';
    margin-top: 50px;
    color: #fff;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px #222;
}

#slide-3 h4 {
    color: #fff;
}

#tourpackages-carousel .thumbnail {
    background-color: #000;
}

#tourpackages-carousel {
    margin-top: 25px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

    .thumbnail img {
        width: 100%;
    }

#property p {
    padding-bottom: 25px;
}

#ninja p {
    padding-bottom: 91px;
}

#memory p {
    padding-bottom: 56px;
}

/***************************
       ARTWORK
***************************/
#slide-4 .bcg {
    height: 800px;
    background-image: url('../images/rsz_san-diego-city-in-california.jpg');
}

#slide-4 .hsContent h2 {
    font-family: 'Abril+Fatface';
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    padding-top: 45px;
    color: #bebcbc;
    text-shadow: 2px 2px #000;
}



/***************************
       FOOTER
***************************/
i {
    color: white;
    margin-right: 0.16em;
}

    i:hover {
        color: #000 !important;
    }

.foot {
    width: 100%;
    background-color: black;
    color: white;
    float: left;
}

footer {
    background-color: black;
    color: white;
}

.icons {
    display: inline-block;
    margin-bottom: 1.5em;
}

    .icons a {
        text-decoration: none !important;
    }
